{% extends 'movies/base.html' %}
{% block headers %}
	<!-- importing the movies_list.css stylesheet using the STATIC_URL tag -->
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/movie.css">
{% endblock %}
{% block content %}
{{ movie.title }} <br>
<br>
<br>
add comment:<br>
<br>
<form action="addcomment" method="post">
{% csrf_token %}
Comment: <input type="text" name="comment_text"><br>
<input type="submit" value="Add">
</form>
<br>
<br>
{% if comments %}
	List of all Comments: 
	<ul>
	<!-- taking each movie in the movies_list one at a time -->
	{% for comment in comments %}
		<!-- link to each movie and display it's title -->
		<!-- the id number is the unique number given by Django to each movie -->
		{{comment.text}}<br>
	{% endfor %}
	</ul>
{% else %}
	<p>There are no comments yet. </p>
{% endif %}

{% endblock %}

